@charset "UTF-8";
.sitemap .depth01 {
  padding: 0 10px;
  margin-bottom: 30px;
  width: 20%;
  float: left;
  text-align: center;
  line-height: 1.3;
}

.sitemap .depth01 > a {
  color: #e95504;
  font-weight: 500;
  font-size: 1.2em;
}

.sitemap .depth02_box li {
  margin-top: 15px
}

@media (max-width: 1024px) {
  .sitemap .depth01 {
    padding: 0 5px;
  }
}

@media (max-width: 640px) {
  .sitemap .depth01 {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }

  .sitemap .depth02_box li {
    margin-top: 10px
  }
}

/* 2019-08-05 banghg */
.find_idpw_wrap {
  max-width: 400px;
  margin: 0 auto 50px;
  text-align: center;
}

.find_idpw_wrap .find_idpw_list {
  text-align: left;
}

.find_idpw_wrap .find_idpw_list li {
  margin-top: 20px;
}

/* 2019-09-04 banghg */
@media screen and (max-width: 1024px) {
  .member__qna .table_board_for.qna_type_a th,
  .member__qna .table_board_for.qna_type_a td {
    padding: 2px 0;
    line-height: 1.3;
  }

  .member__qna .table_board_for.qna_type_a th:nth-child(6),
  .member__qna .table_board_for.qna_type_a td:nth-child(6) {
    float: left;
    margin-right: 5px;
    width: auto !important;
  }

  .member__qna .table_board_for.qna_type_a th:nth-child(3),
  .member__qna .table_board_for.qna_type_a td:nth-child(3) {
    float: left;
    width: 100% !important;
  }

  .member__qna .table_board_for.qna_type_a th:nth-child(7),
  .member__qna .table_board_for.qna_type_a td:nth-child(7) {
    clear: left
  }
}

/* 2019-11-22 banghg */
.briefing_list {
  margin-top: 30px;
  word-break: keep-all;
}

.briefing_list .item {
  margin-top: 10px;
  border: 1px solid #ddd;
}

.briefing_list .wrap {
  line-height: 1.3;
  padding: 10px;
  text-align: left;
}

@media all and (min-width: 1025px) {
  .briefing_list .wrap {
    padding: 15px 30px;
  }
}

@media all and (min-width: 769px) {
  .briefing_list .wrap {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .briefing_list .wrap .tit, .briefing_list .wrap .date, .briefing_list .wrap .btn_bx {
    display: table-cell;
  }

  .briefing_list .wrap .tit, .briefing_list .wrap .date, .briefing_list .wrap .btn_bx {
    padding: 0 5px;
    vertical-align: middle;
  }

  .briefing_list .wrap .date {
    width: 150px;
  }

  .briefing_list .wrap .btn_bx {
    width: 140px;
  }
}

@media all and (max-width: 768px) {
  .briefing_list .wrap .date {
    margin: 10px auto;
  }
}

.briefing_list .wrap .tit {
  font-size: 1.30769em;
  font-weight: 500;
  color: #222;
}

.briefing_list .wrap .date {
  color: #888;
  font-size: 1.07692em;
}

.briefing_list .wrap .btn_bx .btn {
  font-size: 1.07692em;
  display: block;
  padding: 10px 0;
  color: #ff5b28;
  border: 1px solid #ff5b28;
  text-align: center;
}

.briefing-view .title_bx {
  padding-bottom: 40px;
  margin-bottom: 40px;
  text-align: left;
  border-bottom: 1px solid #000;
}

.briefing-view .title_bx .tit {
  font-size: 1.30769em;
  font-weight: 500;
  color: #222;
}

.briefing-view .title_bx .date {
  color: #888;
  font-size: 1.07692em;
}

.briefing-view h5 {
  font-size: 1.23077em;
  font-weight: 500;
  color: #222;
}

/* 2020-01-09 banghg */
.member__qna .qna_answer {
  background-color: #fbfbfb
}

.member__qna .qna_answer th {
  font-weight: 600;
  border-color: #222;
  padding-left: 1em;
  line-height: 1;
}

.member__qna .qna_answer th:before {
  content: '';
  width: 28px;
  height: 28px;
  background-image: url(../images/sub/qna_answer_i.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 0.5em;
}

.topmenu_m .list {
  display: flex;
  justify-content: space-around;
}

.topmenu_m .list a {
  padding-left: 0;
  padding-right: 0;
  display: block
}

.topmenu_m .list.btns {
  padding: 10px 0;
}

.topmenu_m .list.btns a {
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
}

.topmenu .list li {
  margin-left: 8px;
}


/* 2020-02-18 banghg */
.tooltipster-sidetip .tooltipster-content {
  max-width: 300px;
}


.txt_post_wrap * {
  box-sizing: border-box
}

.txt_post_wrap {
  margin-top: 40px;
  text-align: left;
}

.txt_post_wrap .write_box .write_area {
  position: relative;
  padding: 20px;
  padding-right: 125px;
  background: #eee;
}

.txt_post_wrap .write_box .write_area div {
  height: 70px;
}

.txt_post_wrap .write_box .write_area textarea {
  width: 100%;
  height: 70px;
  min-height: 70px;
  padding: 10px;
}

.txt_post_wrap .write_box .write_area .btn_submit {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 100px;
  background: #536881;
  font-size: 16px;
  color: #fff;
}

.txt_post_wrap .write_box .write_area .btn_share {
  position: absolute;
  width: 55px;
  top: 20px;
  right: 20px;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: #fff;
  border: 3px solid #777;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  color: #777;
}

.txt_post_wrap .write_box .write_area .btn_share i {
  font-size: 2em;
}

.txt_post_wrap .write_box .write_area .btn_share:hover, .txt_post_wrap .write_box .write_area .btn_share.on {
  background: #777;
  color: #fff;
}

/* @media only screen and (max-width: 640px) { .txt_post_wrap .write_box .write_area { padding: 10px; padding-right: 105px; }
  .txt_post_wrap .write_box .write_area div { height: 50px; }
  .txt_post_wrap .write_box .write_area textarea { height: 50px; min-height: 50px; padding: 5px; }
  .txt_post_wrap .write_box .write_area .btn_submit { top: 10px; right: 50px; height: 50px; line-height: 50px; width: 50px; font-size: 15px; }
  .txt_post_wrap .write_box .write_area .btn_share { position: absolute; width: 35px; top: 10px; right: 10px; height: 50px; line-height: 50px; border: 2px solid #777; }
  .txt_post_wrap .write_box .write_area .btn_share i { font-size: 1em; } } */

.txt_post_wrap .btn_answer {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  border: 1px solid #b94148;
  color: #b94148;
  width: 50px;
  font-size: 13px;
  text-align: center;
}

.txt_post_wrap .btn_del {
  position: relative !important;
  top: auto !important;
  left: auto;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  border: 1px solid #333;
  color: #333;
  width: 74px;
  font-size: 13px;
  text-align: center;
}

/* @media only screen and (max-width: 640px) { .txt_post_wrap .btn_answer, .txt_post_wrap .btn_del { width: 40px; font-size: 11px; height: 20px; line-height: 20px; } } */

.txt_post_wrap .list_box {
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
}

.txt_post_wrap .list_box .txt_num {
  height: 26px;
  line-height: 26px;
}

.txt_post_wrap .list_box .txt_num i {
  margin-right: 5px;
  float: left;
  color: #536881;
}

.txt_post_wrap .list_box .txt_num span {
  color: #b94148;
}

.txt_post_wrap .post_list li {
  position: relative;
  border-top: 1px solid #ccc;
}

.txt_post_wrap .post_list li.post_li .inner {
  padding: 15px 15px;
}

.txt_post_wrap .post_list li.post_li .inner > .clearfix, .txt_post_wrap .post_list li.post_li .tab-wrap .inner > .tab.tabwrap_board, .tab-wrap .txt_post_wrap .post_list li.post_li .inner > .tab.tabwrap_board, .txt_post_wrap .post_list li.post_li .tabwrap .inner > .tab.tabwrap_board, .tabwrap .txt_post_wrap .post_list li.post_li .inner > .tab.tabwrap_board, .txt_post_wrap .post_list li.post_li .inner > .row_0, .txt_post_wrap .post_list li.post_li .inner > .row_5, .txt_post_wrap .post_list li.post_li .inner > .row_10, .txt_post_wrap .post_list li.post_li .main-visual .inner > .slide-content, .main-visual .txt_post_wrap .post_list li.post_li .inner > .slide-content, .txt_post_wrap .post_list li.post_li .inner > .sub-contents, .txt_post_wrap .post_list li.post_li .inner > .pf_view_content, .txt_post_wrap .post_list li.post_li .topmenu .inner > .snswrap, .topmenu .txt_post_wrap .post_list li.post_li .inner > .snswrap {
  margin-bottom: 5px;
}

/* @media only screen and (max-width: 640px) { .txt_post_wrap .post_list li.post_li .inner { padding: 15px 0; } } */

/* .txt_post_wrap .post_list li .answer_box { background: #fafafa; display: none; } */

.txt_post_wrap .post_list li .answer_box .inner {
  position: relative;
  padding: 15px 15px 15px 30px;
}

.txt_post_wrap .post_list li .answer_box .inner i {
  color: #b94148;
  position: absolute;
  top: 18px;
  left: 10px;
}

.txt_post_wrap .post_list li .answer_box .inner .area-type-form {
  height: 60px;
  min-height: 60px;
  width: 100%;
  padding: 10px;
}

.txt_post_wrap .post_list li .answer_box .inner .des_txt.write_txt {
  position: relative;
  padding-right: 160px;
}

.txt_post_wrap .post_list li .answer_box .inner .btn_write {
  position: absolute;
  top: 0;
  right: 80px;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 72px;
  background: #b94148;
  color: #fff;
}

.txt_post_wrap .post_list li .answer_box .inner .btn_censel {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 72px;
  background: #999;
  color: #fff;
}

/* @media only screen and (max-width: 640px) { .txt_post_wrap .post_list li .answer_box .inner .area-type-form { height: 50px; min-height: 50px; padding: 5px; line-height: 1.3; }
  .txt_post_wrap .post_list li .answer_box .inner .des_txt.write_txt { padding-right: 100px; }
  .txt_post_wrap .post_list li .answer_box .inner .btn_write { right: 50px; }
  .txt_post_wrap .post_list li .answer_box .inner .btn_censel, .txt_post_wrap .post_list li .answer_box .inner .btn_write { height: 50px; line-height: 50px; width: 46px; } } */

.txt_post_wrap .post_list li .name_01 {
  font-weight: 500;
  color: #333;
}

.txt_post_wrap .post_list li .date_01 {
  font-size: 13px;
  font-weight: 700;
  color: #999;
}

/* 2020-04-28 10:19:43 banghg */
.sub_visual_wrap .cs_info_bx {
  margin-top: 2em;
  display: inline-block;
  padding: 0.5em 2em;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 0.9em;
}

.sub_visual_wrap .cs_info_bx__tel {
  font-size: 1.2em;
  display: block;
  font-weight: 500;
  margin: 1em 0;
}

.sub_visual_wrap .cs_info_bx__txt {
  display: inline-block;
  text-align: left;
  font-weight: 300;
}

.cs_info_wrap {
  border: 1px solid #ddd;
  padding: 1em;
  font-size: 0.9em;
  margin: 1em 0;
}

.cs_info_wrap .popup_inline {
  text-decoration: underline
}

#term_customer .table-form-01 {
  margin-top: 10px;
}

#term_customer .table-form-01 thead th {
  text-align: center;
}


/*
 * 2020-10-26 JTS
 * /franchise/store.html & /franchise/store-view.html
 * 가맹안내 > 추천점포 게시판 추가
*/

@media screen and (max-width: 1024px) {
  .board-search-01.type-store .select-type-01 {
    width: 22.5%;
  }

  .board-search-01.type-store .select-type-01.first {
    left: 23.5%;
  }

  .board-search-01.type-store .input-type-01 {
    margin: 0 13% 0 47%;
    width: 40%;
  }

  .board-search-01 .btn-color-01 {
    width: 12%;
  }
}

.state_available,
.state_success {
  display: inline-block;
  font-size: 0.875em;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
}

.table-view-01.type-store tbody th {
  border-top-color: #333;
}

.table-view-01.type-store tbody td {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #333333;
}

.state_available {
  background-color: #2374ca;
}

.state_success {
  background-color: #1db84d;
}

.def_list {
  display: flex;
  align-items: center;
}

.def_list::before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #333;
  margin-right: 4px;
}

.def_list .xi-star {
  color: #ff5b28;
}

.def_list .xi-star-o {
  color: #999;
}

.def_list dt {
  flex: 0 0 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.def_list dd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.def_list dd::before {
  content: ':';
  display: block;
  padding: 0 4px;
}


/* 2020-11-16 JTS ( 가맹안내 > 추천점포 ) */
.board-search-01.type-store {
  margin-top: 0;
}

@media screen and (max-width: 576px) {
  .franchise-store .table_board_for thead {
    display: none;
  }

  .franchise-store .table_board_for {
    display: block;
  }

  .franchise-store .table_board_for tbody tr {
    border-bottom: 1px solid #ddd;
  }

  .franchise-store .table_board_for tbody tr td {
    display: flex;
    align-items: center;
    border-top: 0;
  }

  .franchise-store .table_board_for tbody tr td::before {
    content: attr(data-title);
    font-weight: 700;
    margin-right: 12px;
  }
}


/* 2021-07-01 17:25 banghg */
.sub_tab .tab {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.sub_tab .tab li {
  max-width: 200px;
  margin-top: -1px;
  margin-left: -1px;
  border-left: 1px solid #cfcfcf !important;
}

.sub_tab .tab li a {
  padding: 0 0.3em;
}

@media (max-width: 480px) {
  .sub_tab .tab li {
    max-width: 25%;
    flex: 1 1 25%;
  }
}

/* 2022-02-24 JTS (모바일 네비게이션) */
@media all and (min-width:1024px) {
  .only_mo {
    display: none;
  }
}

/* 2022-03-16 ysb */
.footer_wrap .foot_txt .info_wrap {

}
.footer_wrap .foot_txt .info_wrap .item {
  padding:0 10px;
  position:relative;
  display: inline-block;
}
.footer_wrap .foot_txt .info_wrap .item:not(:last-child)::after {
  content: '';
  width:1px;
  height: 14px;
  background:#999;
  position:absolute;
  right: -3px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 1px;
}
@media all and (max-width:500px) {
  .footer_wrap .foot_txt .info_wrap .item {
    padding:0 6px;
  }
  .footer_wrap .foot_txt .info_wrap .item:not(:last-child)::after {
    margin-top: 0;
    height: 10px;
  }
}

/* 2022-06-03 ysb */
.menu-intro .text-white {
  color:#fff;
}
.menu-intro .m-img {
  display: none;
}
@media all and (max-width: 768px) {
  .menu-intro .pc-img {
    display: none;
  }
  .menu-intro .m-img {
    display: inline;
  }
}
.menu-intro .d-flex {
  display: flex;
  flex-wrap: wrap;
}
.menu-intro .section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 720px;
  position: relative;
  padding-bottom: 130px;
  box-sizing: border-box;
}
@media all and (max-width: 1024px) {
  .menu-intro .section {
    height: auto;
    padding-top: 70px;
    padding-bottom: 140px;
    min-height: 450px;
  }
}
@media all and (max-width: 576px) {
  .menu-intro .section {
    padding-top: 50px;
    min-height: auto;
  }
}

.menu-intro .wrapper {
  max-width: 1430px;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-intro .title-box .number-title {
  font-size: 4.125em;
  font-family: "Muli", "Noto Sans KR", sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
}
.menu-intro .title-box .title {
  font-size: 3.25em;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-top: 12px;
}
.menu-intro .title-box .text {
  font-size: 1.25em;
  line-height: 1.3;
  letter-spacing: -0.02em;
  margin-top: 24px;
}
@media all and (max-width: 1024px) {
  .menu-intro .title-box .number-title {
    font-size: 3.1em;
  }
  .menu-intro .title-box .title {
    font-size: 2.8em;
  }
}
@media all and (max-width: 576px) {
  .menu-intro .title-box .number-title {
    font-size: 2.5em;
  }
  .menu-intro .title-box .title {
    font-size: 2em;
  }
  .menu-intro .title-box .text {
    margin-top: 12px;
  }
}

.menu-intro .floating-text {
  background: rgba(255,255,255,0.2);
  position:absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  padding: 22px 20px;
  text-align: center;
  z-index: 5;
}
.menu-intro .floating-text .text {
  color:#fff;
  font-size: 1.5em;
  letter-spacing: -0.025em;
}
.menu-intro .floating-text br {
  display: none;
}
.menu-intro .floating-text .text .underline {
  border-bottom: 1px solid #fff;
}
.menu-intro .floating-text .text .icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/menu/floating_text_icon.png);
  width: 21px;
  height: 18px;
  display: inline-block;
}
.menu-intro .floating-text .text .bg {
  display: inline-block;
  position: relative;
}
.menu-intro .floating-text .text .bg::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  background: rgba(31,105,69,0.75);
  height: 13px;
  z-index: -1;
}
@media all and (max-width: 1024px) {
  .menu-intro .floating-text {
    bottom: 30px;
    padding: 12px 20px;
  }
  .menu-intro .floating-text .text {
    font-size: 1.2em;
  }
  .menu-intro .floating-text .text .icon {
    width: 18px;
    height: 15px;
  }
  .menu-intro .floating-text .text .bg::before {
    height: 11px;
  }
  .menu-intro .floating-text br {
    display: block;
  }
}
@media all and (max-width: 576px) {
  .menu-intro .floating-text .text {
    font-size: 1em;
  }
  .menu-intro .floating-text .text .icon {
    width: 13px;
    height: 11px;
  }
}

.menu-intro .title--40 {
  font-size: 2.5em;
  letter-spacing: -0.025em;
  line-height: 1.4;
}
.menu-intro .title--40 .bg {
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
  position: relative;
}
.menu-intro .title--40 .bg::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background:#ff5b28;
  height: 21px;
}
.menu-intro .title--40 .bg2::before {
  background:#38b7c8;
}
.menu-intro .title--40 .text {
  position: relative;
  z-index: 1;
}
.menu-intro .title--22 {
  font-size: 1.375em;
  letter-spacing: -0.025em;
  padding-left: 10px;
  position: relative;
}
.menu-intro .title--22::before {
  content: ':';
  position: absolute;
  left: 0;
  top: 0;
}
@media all and (min-width: 577.01px) {
  .menu-intro .d-sm-none {
    display: none;
  }
}
@media all and (max-width: 1024px) {
  .menu-intro .title--40 {
    font-size: 2.125em;
  }
  .menu-intro .title--40 .bg::before {
    height: 15px;
  }
  .menu-intro .title--22 {
    font-size: 1.2em;
    padding-left: 0;
  }
  .menu-intro .title--22::before {
    display: none;
  }
}



.menu-intro .section1 {
  background-color:#ff5b28;
  overflow: hidden;
}
.menu-intro .section1::before {
  content: '';
  width: 100vw;
  height: 200%;
  background:#7b00a0;
  transform: rotate(22deg) translateY(-50%);
  position: absolute;
  left: 48vw;
  top: 65%;
}
.menu-intro .section1 .d-flex {
  align-items: center;
}
.menu-intro .section1 .title-box {
  flex: 1 1 auto;
  width:1%;
  padding-right: 30px;
}
.menu-intro .section1 .cont-box {
  flex: 0 0 66%;
  max-width: 66%;
  position: relative;
  z-index: 2;
  text-align: right;
}
@media all and (max-width: 1400px) {
  .menu-intro .section1::before {
    left: 50%;
    margin-left: -130px;
  }
}
@media all and (max-width: 1024px) {
  .menu-intro .section1 {
    background: url(../images/menu/intro_section1_bg.jpg) no-repeat center;
    background-size: cover;
  }
  .menu-intro .section1::before {
    display: none;
  }
  .menu-intro .section1 .title-box {
    flex: 1 0 100%;
    width:100%;
    padding-right: 0;
    padding-bottom: 40px;
    text-align: center;
  }
  .menu-intro .section1 .title-box .title br {
    display: none;
  }
  .menu-intro .section1 .cont-box {
    flex: 1 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

.menu-intro .section2 {
  background: url(../images/menu/intro_section2_bg.jpg) no-repeat center;
  background-size: cover;
}
@media all and (max-width: 1024px) {
  .menu-intro .section2 {
    text-align: center;
  }
}
@media all and (max-width: 768px) {
  .menu-intro .section2 {
    background-image: url(../images/menu/intro_section2_bg_m.jpg);
  }
}

.menu-intro .section3 {
  background:#291b35;
}
.menu-intro .section3 .title-box {
  flex: 1 1 auto;
  width:1%;
  padding-right: 30px;
}
.menu-intro .section3 .cont-box {
  flex: 0 0 58.57142857143%;
  max-width:58.57142857143%;
}
@media all and (max-width: 1024px) {
  .menu-intro .section3 .title-box {
    flex: 1 0 100%;
    width:100%;
    padding-right: 0;
    padding-bottom: 40px;
    text-align: center;
  }
  .menu-intro .section3 .cont-box {
    flex: 1 0 100%;
    max-width: 100%;
    text-align: center;
  }
}


.menu-intro .section3 .step_bx {
  padding-bottom:calc(3em + 1em*1.3*3)
}
.menu-intro .section3 .step {
  position: relative;
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: rgba(255,255,255,0.1);
  padding: 1em 0;
  border-radius: 50px;
  justify-content: space-between;
}
.menu-intro .section3 .step:before {
  position:absolute;
  top:50%;
  content:'';
  left:0;
  right:0;
  margin:-1px auto 0;
  width:calc(100% - 12%);
  border-top:1px solid rgba(255,255,255,0.5);
  display:block;
}
.menu-intro .section3 .step li {
  width:12.5%;
  position:relative;
}
.menu-intro .section3 .step li:first-child .dot {
  background-color:#ff5b28;
}
.menu-intro .section3 .step li:last-child .dot {
  background-color:#7b00a0;
}
.menu-intro .section3 .step .dot {
  margin:0 auto;
  width:12px;
  height:12px;
  border-radius:50%;
  background-color:#fff;
  display:block;
}
.menu-intro .section3 .step .txt {
  line-height:1.3;
  text-align:center;
/*  padding:0 0.5em;*/
  padding: 0;
  position:absolute;
  left: 0;
  right: 0;
  padding-top:3em;
  word-break: keep-all;
  font-family: 'SUIT';
  font-weight: 300;
}
@media all and (max-width: 768px) {
  .menu-intro .section3 .step_bx {
    padding-bottom: 0;
    display: inline-block;
    width: 295px;
  }
  .menu-intro .section3 .step {
    width: 50px;
    display: block;
    padding:5px 0;
  }
  .menu-intro .section3 .step:before {
    left: 24px;
    top: 3em;
    bottom: 3em;
    margin: 0;
    width: auto;
    border-top: 0;
    border-left: 1px solid rgba(255,255,255,0.5);
  }
  .menu-intro .section3 .step li {
    width: auto;
    margin: 30px 0;
  }
  .menu-intro .section3 .step .txt {
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    padding:0 15px;
    width: calc(100vw - 70px);
    text-align: left;
  }
  .menu-intro .section3 .step .txt br {
    display: none;
  }
}

.menu-intro .section4 {
  background: url(../images/menu/intro_section4_bg.jpg) no-repeat center;
  background-size: cover;
}
.menu-intro .section4 .title-box {
  flex: 1 1 auto;
  width:1%;
  padding-right: 30px;
}
.menu-intro .section4 .cont-box {
  flex: 0 0 57.14285714286%;
  max-width:57.14285714286%;
}
.menu-intro .section4 .inner-box {
  background: rgba(255,255,255,0.75);
  padding: 3em;
  color:#222;
}
.menu-intro .section4 .inner-box > .text {
  flex: 1 1 auto;
  width:1%;
  padding-right: 1.5em;
  word-break: keep-all;
}
@media all and (max-width: 1024px) {
  .menu-intro .section4 .title-box {
    flex: 1 0 100%;
    width:100%;
    padding-right: 0;
    padding-bottom: 40px;
    text-align: center;
  }
  .menu-intro .section4 .cont-box {
    flex: 1 0 100%;
    max-width: 100%;
  }
  .menu-intro .section4 .cont-box .inner-box {
    max-width: 600px;
    margin:0 auto;
  }
}

@media all and (max-width: 576px) {
  .menu-intro .section4 {
    background-image: url(../images/menu/intro_section4_bg_m.jpg);
  }
  .menu-intro .section4 .cont-box {
    text-align: center;
  }
  .menu-intro .section4 .inner-box {
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .menu-intro .section4 .inner-box > .text {
    flex: 1 0 100%;
    width:100%;
    padding-right: 0;
    padding-bottom: 30px;
  }
}
.menu-ingredient {
  overflow-x: auto;
  overflow-y: hidden;
}
.menu-ingredient .table {
  table-layout: fixed;
  width: 100%;
  min-width: 600px;
}
.menu-ingredient .table th,
.menu-ingredient .table td {
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
}
.menu-ingredient .table th {
  background:#7b009b;
  color:#fff;
  padding: 10px 2px;
}
.menu-ingredient .table td {
  border-bottom: 1px solid #ddd;
  padding: 13px 2px;
}
@media all and (max-width: 480px) {
  .menu_desc_wrap,
  .menu_desc_wrap .img_bx,
  .menu_desc_wrap .txt_bx {
    display: block;
  }
  .menu_desc_wrap .img_bx {
    padding-right: 0;
    margin-bottom: 10px;
  }
  .menu-ingredient .table {
    min-width: 500px;
  }
  .menu-ingredient .table th,
  .menu-ingredient .table td {
    font-size: 12px;
  }
}

.menu__all .tab8 li {
  width: 25%;
  border: 0;
}
.menu__all .tab8 li a {
  padding-left: 5px;
  padding-right: 5px;
}
@media all and (max-width: 576px) {
  .menu__all .tab8 li {
    width: 50%;
  }
}

/* 2023-04-13 벤티럭 퀵메뉴 추가, 메뉴 디자인 수정 */
.quick_menu .quick-event-box img {
/*  margin-right: 5px;*/
	margin-bottom: 3px;
}
.quick_menu .quick-event-box .tit {
  line-height: 1.1;
  margin-top: 3px;
}

.menu-intro-new .section-menu-index {
  padding-bottom: 0;
  background-color: #322114;
  height: 716px;
}

.menu-intro-new .section-menu-index::before {
  display: none;
}

.menu-intro-new .section-menu-index .d-flex {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  max-width: 1800px;
  margin: 0 auto;
}

.menu-intro-new .section-menu-index .title-box {
  flex: 0 0 30%;
  width: 30%;
  padding-left: 13%;
  padding-right: 0;
}

.menu-intro-new .section-menu-index .cont-box {
  flex: 0 0 70%;
  max-width: 70%;
  height: 100%;
}

.roast-box-wrap--menu {
  position: relative;
  height: 100%;
}
.roast-box-wrap--menu .bg-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.roast-box-wrap--menu .bg-wrap .bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 37%;
  height: 100%;
  background: url(../assets/images/sub/v-menu-bg1.png) no-repeat;
  background-size: cover;
  z-index: 0;
}
.roast-box-wrap--menu .bg-wrap .bg2 {
  position: absolute;
  top: 0;
  left: 30%;
  width: 40%;
  height: 100%;
  background: url(../assets/images/sub/v-menu-bg2.png) no-repeat;
  background-size: cover;
  z-index: 0;
}
.roast-box-wrap--menu .bg-wrap .bg3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 37%;
  height: 100%;
  background: url(../assets/images/sub/v-menu-bg3.png) no-repeat;
  background-size: cover;
  z-index: 0;
}
.roast-box-wrap--menu .roast-box {
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
}
.roast-box-wrap--menu .roast-box .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
  padding: 3.75em 0;
  width: 33.33%;
}
.roast-box-wrap--menu .roast-box .box:nth-child(1) .cate {
  color: #fc4f19;
}
.roast-box-wrap--menu .roast-box .box:nth-child(2) .cate {
  color: #7b00a0;
}
.roast-box-wrap--menu .roast-box .box:nth-child(3) .cate {
  color: #01512e;
}
.roast-box-wrap--menu .roast-box .box .title {
  z-index: 2;
  min-height: 259px;
}
.roast-box-wrap--menu .roast-box .box .title .tit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 10px;
  min-height: 130px;
}
.roast-box-wrap--menu .roast-box .box .title .tit .cate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  background-color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 30px;
  margin: 0 auto;
}
.roast-box-wrap--menu .roast-box .box .title .name {
  font-size: 3.4375rem;
  color: #fff;
  text-align: center;
  font-family: "Geometos";
  line-height: 1;
  padding-top: 20px;
  letter-spacing: 1px;
}
.roast-box-wrap--menu .roast-box .box .roast {
  z-index: 2;
  animation: handling2 2s infinite ease;
  width: 160px;
}
@keyframes handling2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.roast-box-wrap--menu .roast-box .box .desc {
  z-index: 2;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
}
@media screen and (max-width: 1921px) {
	.menu-intro-new .section-menu-index .d-flex{
		max-width: 1920px;
	}
}
@media screen and (max-width: 1700px) {
  .roast-box-wrap--menu .bg-wrap .bg1 {
    width: 39%;
  }
  .roast-box-wrap--menu .bg-wrap .bg2 {
    width: 45%;
  }
  .roast-box-wrap--menu .bg-wrap .bg3 {
    z-index: 1;
  }
}
@media screen and (max-width: 1600px) {
  .roast-box-wrap--menu .bg-wrap .bg2 {
    width: 46%;
  }
}
@media screen and (max-width: 1400px) {
  .menu-intro-new .section-menu-index .title-box {
    padding-left: 1%;
  }
}
@media screen and (max-width: 1024px) {
  .menu-intro-new .section-menu-index {
    height: auto;
    background: #322114;
    flex-direction: column;
  }
  .menu-intro-new .section-menu-index .title-box {
    flex: 0 0 100%;
    width: 100%;
    padding-left: 0;
  }
  .menu-intro-new .section-menu-index .cont-box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .menu-intro-new .floating-text {
    background: rgba(118, 72, 49, 0.63);
  }
  .roast-box-wrap--menu .bg-wrap {
    display: none;
  }
  .roast-box-wrap--menu .roast-box {
    flex-direction: column;
  }
  .roast-box-wrap--menu .roast-box .box {
    width: 100%;
    padding: 1.875em 0;
  }
  .roast-box-wrap--menu .roast-box .box:first-child {
    background-color: #fc4f19;
  }
  .roast-box-wrap--menu .roast-box .box:nth-child(2) {
    background-color: #7b00a0;
  }
  .roast-box-wrap--menu .roast-box .box:nth-child(3) {
    background-color: #01512e;
    padding-bottom: 100px;
  }
  .roast-box-wrap--menu .roast-box .box:first-child .emb, .roast-box-wrap--menu .roast-box .box:nth-child(2) .emb {
    width: 60px;
  }
  .roast-box-wrap--menu .roast-box .box:nth-child(3) .emb {
    width: 40px;
  }
  .roast-box-wrap--menu .roast-box .box .title {
    min-height: auto;
  }
  .roast-box-wrap--menu .roast-box .box .title .name {
    font-size: 2.1875rem;
  }
  .roast-box-wrap--menu .roast-box .box .title .tit{
	min-height: auto;
  }
  .roast-box-wrap--menu .roast-box .box .title .tit .cate {
    width: 130px;
    height: 40px;
    font-size: 1.25rem;
  }
  .roast-box-wrap--menu .roast-box .box .roast {
    width: 135px;
  }
  .roast-box-wrap--menu .roast-box .box .desc {
    font-size: 1.125rem;
  }
}

/* 벤티럭이 쏜다 */
.luck-visual-box{
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 50px;
}
.luck-visual-box .img-bx{
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.luck-visual-box .img-bx img{

}
.luck-visual-box .img-bx .truck.on{
	animation-name: truckMove !important;
	animation: truckMove 1.5s ease infinite;
}
@keyframes truckMove {
	0%{ transform: translate(0, 0); }
	20%{ transform: translate(8px, 0px); }
	50%{ transform: translate(-2px, 1px); }
	70%{ transform: translate(5px, 0px); }
	80%{ transform: translate(5px, -1px); }
	100%{ transform: translate(0, 0); }
}
.luck-visual-box .img-bx .text{
	margin-bottom: 45px;
}
.luck-visual-box .txt-bx{
	text-align: center;
	font-family: 'SUIT';
}
.luck-visual-box .txt-bx .sub-tit{
	font-size: 30px;
	color: #333;
}
.luck-visual-box .txt-bx .main-tit{
	font-size: 64px;
	color: #333;
	font-weight: 700;
}
.luck-visual-box .txt-bx .desc{
	font-size: 18px;
	font-weight: 300;
	color: #333;
}
@media screen and (max-width: 1024px) {
	.luck-visual .sub-visual__wrapper{
		height: auto;
	}
	.luck-visual-box{
		flex-direction: column;
		padding: 30px 0;
		row-gap: 15px;
	}
	.luck-visual-box .img-bx .truck{
		width: 200px;
	}
	.luck-visual-box .img-bx .text{
		width: 200px;
		margin-bottom: 0;
	}
	.luck-visual-box .txt-bx .sub-tit{
		font-size: 16px;
	}
	.luck-visual-box .txt-bx .main-tit{
		font-size: 45px;
	}
	.luck-visual-box .txt-bx .desc{
		font-size: 14px;
	}
}
@media screen and (max-width: 480px) {
	.luck-visual-box .img-bx .truck{
		width: 170px;
	}
	.luck-visual-box .img-bx .text{
		width: 135px;
	}
    .luck-visual-box .txt-bx .main-tit{
		font-size: 35px;
	}
}

/*벤티럭 폼*/
.alarm-p{
	padding-top: 5px;
}
.addr-box-wrap{
	display: flex;
    row-gap: 8px;
    flex-direction: column;
}
.addr-box-wrap .btn-type-09 {
	width: 170px;
	height: 54px;
    background-color: #999;
    border: 1px solid #999;
}
.addr-box-wrap .addr-box{
    display: flex;
    row-gap: 8px;
    flex-direction: column;
}
.luck-date-wrap{
	display: flex;
	align-items: center;
	column-gap: 8px;
}
.luck-date-wrap .data-picker{
	position: relative;
}
.luck-date-wrap .data-picker::before{
	content: "";
	position: absolute;
	top: 18px;
	right: 10px;
	background: url(../images/sub/datepicker-icon.png) no-repeat;
	width: 25px;
	height: 24px;
	background-size: cover;
}
.luck-form-wrap .btn-type-01{
	background-color: #780997;
	border: 1px solid #780997;
	min-width: 168px;
	height: 52px;
	line-height: 52px;
}
@media screen and (max-width: 768px) {
	.addr-box-wrap .btn-type-09{
		width: 85px;
		height: 44px;
	}
	.luck-date-wrap .data-picker::before{
		top: 13px;
		right: 8px;
		width: 19px;
		height: 18px;
	}
	.luck-date-wrap .data-picker{
		width: 130px;
	}
	.luck-date-wrap .data-picker .datepicker{
		width: 100%;
	}
}
@media screen and (max-width: 350px) {
    .addr-box-wrap .btn-type-09{
		min-width: 65px;
		width: 65px;
		font-size: 13px;
	}
}


/* 2023-04-25 자주하는 질문 검색 박스 */
.border-search-01--left{
	border: 0 !important;
	margin-top: 0 !important;
}
@media screen and (min-width: 1024px) {
	.border-search-01--left{
		padding-top: 0 !important;
		text-align: left !important;
	}
}

/* 2023-05-22 벤티럭 타이틀 추가*/
.luck-info-inner{
	padding-bottom: 100px;
	font-family: 'SUIT';
	letter-spacing: -1px;
}
.luck-info-inner h2{
	font-size: 48px;
	font-weight: 600;
	color: #000;
}
.luck-info-inner .title{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.luck-info-inner .title .txt-bx p{
	font-size: 22px;
	color: #333;
	font-weight: 500;
	margin-top: 20px;
}
.luck-info-inner .title .txt-bx p span{
	color: #6e2288;
	text-decoration: underline;
/*	text-underline-position: under;*/
	font-weight: 600;
}
.luck-info-inner .content .list{
	display: flex;
	padding: 30px 0;
}
.luck-info-inner .content .item{
	display: flex;
	align-items: center;
	column-gap: 30px;
	width: 50%;
}
.luck-info-inner .content .item .txt-bx h3{
	font-size: 24px;
	font-weight: 600;
	color: #6e2288;
	margin-bottom: 3px;
}
.luck-info-inner .content .item .txt-bx p{
	font-size: 18px;
	color: #999;
	line-height: 1.3;
}
.luck-info-inner .content .alarm-info{
	font-size: 16px;
	color: #666;
	margin-top: 15px;
}
.luck-info-inner .content .alarm-info span{
	color: #333;
	font-weight: 600;
}
@media screen and (max-width: 768px) {
	.luck-info-inner h2{
		font-size: 30px;
	}
	.luck-info-inner .title{
		flex-direction: column;
		margin-bottom: 50px;
	}
	.luck-info-inner .title .txt-bx p{
		font-size: 18px;
	}
	.luck-info-inner .content .list{
		flex-direction: column;
		row-gap: 20px;
	}
	.luck-info-inner .content .item{
		width: 100%;
	}
	.luck-info-inner .content .icon img{
		width: 80px;
	}
	.luck-info-inner .content .item .txt-bx h3{
		font-size: 20px;
	}
	.luck-info-inner .content .item .txt-bx p{
		font-size: 16px;
	}
}

@media screen and (max-width: 576px) {
	.luck-info-inner{
		padding-bottom: 60px;
	}
	.luck-info-inner h2{
		font-size: 25px;
	}
	.luck-info-inner .title .img-bx{
		width: 100%;
		margin-top: 20px;
	}
	.luck-info-inner .title .img-bx img{
		width: 250px;
		display: block; 
		margin: 0 auto;
	}
	.luck-info-inner .title .txt-bx p{
		font-size: 14px;
		margin-top: 10px;
	}
	.luck-info-inner .content .list{
		padding: 15px 0;
	}
	.luck-info-inner .content .item {
		column-gap: 20px;
	}
	.luck-info-inner .content .item .txt-bx h3{
		font-size: 18px;
	}
	.luck-info-inner .content .item .txt-bx p{
		font-size: 13px;
	}
	.luck-info-inner .content .icon img{
		width: 60px;
	}
	.luck-info-inner .content .alarm-info{
		font-size: 13px;
	}
	.luck-visual-box .txt-bx img.text{
		width: 200px;
		display: block;
		margin: 0 auto;
	}
}


/* 더벤저스 봉사활동 */
.thevengers-title{
	margin-bottom: 20px;
}
.thevengers-title h5{
	font-size: 48px;
	color: #7b00a0;
	font-weight: 700;
	letter-spacing: -1px;
	display: inline-block;
	font-family: "Noto Sans KR", sans-serif;
}
.thevengers-title p{
	font-size: 45px;
	color: #000;
	letter-spacing: -1px;
	display: inline-block;
	padding-left: 7px;
	font-family: "Noto Sans KR", sans-serif;
}
.thevengers-story .img_board_list .item{
	padding: 0 7px 10px;
}
.thevengers-story .img_board_list .item a{
	border: 0;
}
.img_board_list .wrap:hover:before, .img_board_list .item-default:hover:before{
	border: 0;
}
.thevengers-story.news__story .img_board_list .img_box .img_src{
	padding-bottom: 77%;
}
.thevengers-wrap .bottom-text{
	margin-top: 25px;
}
.thevengers-symbol{
	display: flex;
}
.thevengers-symbol .logo-bx{}
.thevengers-symbol .text-bx p{
	font-size: 18px;
	font-weight: 300;
	color: #000;
	line-height: 1.8;
}
.thevengers-story-2 .img_board_list .item, .thevengers-story-2 .img_board_list li{
	padding: 0 4px 10px;
}
.thevengers-story-2 .img_board_list a{
	border: 0;
}
.thevengers-story-2 .img_board_list .txt_box{
	padding: 20px 0;
}
.thevengers-story-2 .img_board_list .img_box{
	border: 1px solid #ddd;
	transition: border 0.3s;
}
.thevengers-story-2 .img_board_list a:hover .img_box{
	border: 2px solid #7b00a0;
}
.thevengers-story-2 .img_board_list a:hover:before{
	border-width: 0;
}
@media screen and (max-width: 1024px) {
	.thevengers-title h5{
		font-size: 24px;
	}
	.thevengers-title p{
		font-size: 20px;
	}
	.thevengers-symbol{
		flex-direction: column;
		row-gap: 10px;
	}
	.thevengers-symbol .logo-bx{
		width: 100%;
		text-align: center;
	}
	.thevengers-symbol .logo-bx img{
		display: block; 
		margin: 0 auto;
	}
	.thevengers-symbol .text-bx{
		padding-left: 0;
	}
	.thevengers-symbol .text-bx p{
		font-size: 14px;
		text-align: center;
	}
}




/* 2023-08-03 더벤티 커피이야기 수정 및 추가 */
.theventiStory-txt{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-family: "SUIT";
	text-align: left;
	padding-left: 80px;
}
.theventiStory-txt h5{
	font-size: 	42px;
	color: #fff;
	line-height: 1.2;
}
.theventiStory-txt p{
	font-size: 18px;
	color: #fff;
	line-height: 1.5;
	font-weight: 300;
	margin-top: 20px;
	position: relative;
	padding-left: 14px;
}
.theventiStory-txt p::after{
	content: "*";
	position: absolute;
	top: 0;
	left: 0;
}
.theventiStory-txt p span{
	padding-left: 9px;
}
.menu-intro-new .section-menu-index .title-box--new{
	flex: 0 0 35%;
	width: 35%;
	padding-left: 10%;
}
.menu-intro-new .section-menu-index .cont-box--new{
	flex: 0 0 65%;
	width: 65%;
}
.special-tea-right{
	display: flex;
	height: 100%;
	font-family: "SUIT";
}
.special-tea-right .coffee-level{
	width: 200px;
}
.special-tea-right .coffee-level .box{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 20%;
}
.special-tea-right .coffee-level .box:nth-child(1){background-color: #7b00a0; height: 40%;}
.special-tea-right .coffee-level .box:nth-child(2){background-color: #ff5b28;}
.special-tea-right .coffee-level .box:nth-child(3){background-color: #ff8c68;}
.special-tea-right .coffee-level .box:nth-child(4){background-color: #ffad93;}
.special-tea-right .coffee-level .box img{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
.special-tea-right .coffee-level .box p{
	font-size: 22px;
	color: #fff;
	text-align: center;
	line-height: 1.1;
	letter-spacing: -0.5px;
}
.special-tea-right .theventiStory-txt{
    width: calc(100% - 200px);
	background: url(../assets/images/sub/special-tea-bg.jpg) no-repeat;
	background-size: cover;
}
.section-bsca{
	background: url(../assets/images/sub/bsca-bg.jpg) no-repeat;
	background-size: cover;
}

/* 스페셜티 블렌드 */
.section-taste{
	font-family: "SUIT";
}
.section-taste .title-box{
	padding-left: 13%;
	margin-bottom: 10%;
}
.blend-box-wrap{
	position: relative;
}
.blend-box-wrap .blend-logo{
	position: absolute;
	top: 7%;
	left: 27.7%;
}
.blend-box-wrap .box{
	width: 33.33%;
	padding: 40px 0 50px 0;
}
.blend-box-wrap .title{
	padding: 15px 10px;
}
.blend-box-wrap .title .title-top{
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.blend-box-wrap .title .title-top .special-text{
	position: absolute;
	top: -21px;
	left: 32px;
}
.blend-box-wrap .title .title-top .special-text--2{
	left: 68px;
}
.blend-box-wrap .title .title-top h6{
	font-size: 50px;
	font-weight: 800;
}
.blend-box-wrap .title .title-top p{
	font-size: 17px;
	font-weight: 600;
	line-height: 1;
}
.blend-box-wrap .title .title-top::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 130px;
	height: 1px;
	background: #fff;
}
.blend-box-wrap .title .title-bottom{
	padding-bottom: 15px;
}
.blend-box-wrap .title .title-bottom p{
	font-size: 16px;
	line-height: 1.2;
}
.blend-box-wrap .gauge-bar-wrap{
	width: 100%;
	padding: 22px 15px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 23px;
	column-gap: 6%;
}
.blend-box-wrap .gauge-bar-wrap .item{
	width: 29%;
}
.blend-box-wrap .gauge-bar-wrap .item p{
	font-size: 15px;
	line-height: 1.1;
	margin-bottom: 10px;
}
.blend-box-wrap .gauge-bar-wrap .gauge-line{
	width: 85px;
	height: 5px;
	background-color: rgba(255,255,255,0.3);
	position: relative;
	display: block;
	margin: 0 auto;
}
.blend-box-wrap .gauge-bar-wrap .gauge{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #ffd428;
	transition: 0.6s;
	transition-delay: 1s;
}
.blend-box-wrap .gauge-bar-wrap .gauge.on{}
.blend-box-wrap .gauge-bar-wrap .gauge.gauge-10.on{width:10%;}
.blend-box-wrap .gauge-bar-wrap .gauge.gauge-20.on{width:20%;}
.blend-box-wrap .gauge-bar-wrap .gauge.gauge-30.on{width:30%;}
.blend-box-wrap .gauge-bar-wrap .gauge.gauge-40.on{width:40%;}
.blend-box-wrap .gauge-bar-wrap .gauge.gauge-50.on{width:50%;}
.blend-box-wrap .gauge-bar-wrap .gauge.gauge-60.on{width:60%;}
.blend-box-wrap .gauge-bar-wrap .gauge.gauge-70.on{width:70%;}
.blend-box-wrap .gauge-bar-wrap .gauge.gauge-80.on{width:80%;}
.blend-box-wrap .gauge-bar-wrap .gauge.gauge-90.on{width:90%;}
.blend-box-wrap .gauge-bar-wrap .gauge.gauge-100.on{width:100%;}

.blend-box-wrap .taste-graph{
	padding-top: 32px;
}
.blend-box-wrap .taste-graph .graph{
	display: block;
	margin: 0 auto;
}
.section-menu-index--video{
	height: 698px !important;
}

@media screen and (max-width: 1650px) {
	.section-taste .title-box{
		padding-left: 7%;
	}
	.blend-box-wrap .title .title-top h6{
		font-size: 38px;
	}
	.blend-box-wrap .blend-logo{
		width: 80px;
		left: 29.7%;
	}
}
@media screen and (max-width: 1300px) {
	.section-taste{
		height: auto !important;
	}
	.section-taste .title-box{
		padding-left: 0;
		text-align: center;
		margin-bottom: 20px;
	}
	.blend-box-wrap .blend-logo{
		position: unset;
		width: fit-content;
		display: block;
		margin: 0 auto;
	}
	.blend-box-wrap .box{
		width: 100%;
		padding: 40px 0 35px 0;
	}
	.blend-box-wrap .title .title-top h6{
		font-size: 35px;
	}
	.blend-box-wrap .gauge-bar-wrap .gauge.gauge-10{width:10% !important;}
	.blend-box-wrap .gauge-bar-wrap .gauge.gauge-20{width:20% !important;}
	.blend-box-wrap .gauge-bar-wrap .gauge.gauge-30{width:30% !important;}
	.blend-box-wrap .gauge-bar-wrap .gauge.gauge-40{width:40% !important;}
	.blend-box-wrap .gauge-bar-wrap .gauge.gauge-50{width:50% !important;}
	.blend-box-wrap .gauge-bar-wrap .gauge.gauge-60{width:60% !important;}
	.blend-box-wrap .gauge-bar-wrap .gauge.gauge-70{width:70% !important;}
	.blend-box-wrap .gauge-bar-wrap .gauge.gauge-80{width:80% !important;}
	.blend-box-wrap .gauge-bar-wrap .gauge.gauge-90{width:90% !important;}
	.blend-box-wrap .gauge-bar-wrap .gauge.gauge-100{width:100% !important;}
}
@media screen and (max-width: 1024px) {
	.theventiStory-txt{
		padding-left: 0;
	}
	.theventiStory-txt h5{
		font-size: 18px;
	}
	.theventiStory-txt p{
		font-size: 14px;
	}
	.menu-intro-new .section-menu-index .title-box--new{
		flex: 0 0 100%;
		width: 100%;
		padding-left: 0;
	}
	.menu-intro-new .section-menu-index .cont-box--new{
		flex: 0 0 100%;
		width: 100%;		
	}
	.special-tea-right{
		flex-direction: column;
	}
	.special-tea-img{
		width: 80px;
	}
	.special-tea-right .coffee-level{
		width: 100%;
		display: flex;
	}
	.special-tea-right .coffee-level .box{
		width: 25%;	
		height: auto !important;
		padding: 20px 0;
	}
	.special-tea-right .coffee-level .box img{
		width: 30px;
	}
	.special-tea-right .coffee-level .box p{
		font-size: 14px;
	}
	.special-tea-right .theventiStory-txt{
		width: 100%;
		padding-left: 0;
		padding: 30px 20px;
	}
	.section-bsca .title-box{
		text-align: center;
	}
	.bsca-logo{
		width: 135px;
	}
	.section-menu-index--video{
		height: auto !important;
	}
	.blend-box-wrap .blend-logo{
		width: 100px;
		margin-bottom: 30px;
	}
	.blend-box-wrap .title .title-top .special-text{
		width: 130px;
	}
	.blend-box-wrap .taste-graph .graph{
		width: 160px;
	}
	.blend-box-wrap .gauge-bar-wrap .item p{
		font-size: 13px;
	}
	.section-menu-index--video .logo-v{
		width: 20px;
	}
}
.main-roast-wrap .blend-box-wrap .gauge-bar-wrap .inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 23px;
	max-width: 430px;
	margin: 0 auto;
}
.main-roast-wrap .blend-box-wrap .blend-logo{
	left: 29.7%;
}
.main-roast-wrap .blend-box-wrap .title .title-top .special-text{
	left: 25%;
}
.main-roast-wrap .blend-box-wrap .title .title-top .special-text--2{
	left: 28%;
}

@media screen and (min-width: 1921px) {
	.main-roast-wrap .blend-box-wrap .blend-logo{
		left: 30.7%;
	}
}
@media screen and (max-width: 1650px) {
	.main-roast-wrap .blend-box-wrap .blend-logo{
		left: 30.7%;
	}
}
@media screen and (max-width: 1300px) {
	.main-roast-wrap .blend-box-wrap .blend-logo{
		display: none;
	}
}